<?xml version="1.0"?>
<!--颜色分拣-->
<launch>
    <arg name="start"   default="true"/>
    <arg name="debug"   default="false"/>
    <arg name="broadcast" default="false"/>
    <include file="$(find jetauto_example)/scripts/color_detect/color_detect_node.launch">
        <arg name="use_depth_cam" value="false"/>
    </include>
    <include file="$(find jetauto_controller)/launch/jetauto_controller.launch"/>
    <node pkg="jetauto_example" type="color_sorting_node.py" name="color_sorting" output="screen">
        <rosparam file="$(find jetauto_example)/config/color_sorting_roi.yaml"   command="load"/>
        <param name="start" value="$(arg start)"/>
        <param name="debug" value="$(arg debug)"/>
        <param name="broadcast" value="$(arg broadcast)"/>
    </node>
</launch>
